@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);
@import 'react-json-view-lite/dist/index.css';
@import './jsonViewer.css';

.navds-link-panel__content {
  width: 100%;
}

/* ds-react v8 renames navds-* classes to aksel-* at runtime */
.aksel-link-panel__content {
  width: 100%;
  flex: 1 1 auto;
  min-width: 0;
}

.navds-accordion__header-content {
  width: 100%;
}

p {
  max-width: 75ch;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

/* Locked "Behandler personopplysninger" checkbox: custom marker colors (no padlock overlay) */
.behandler-personopplysninger--locked.aksel-checkbox--readonly
  .aksel-checkbox__input:where(:checked, :indeterminate) {
  background-color: #ecedef;
  border-color: #ecedef;
}

.behandler-personopplysninger--locked.aksel-checkbox--readonly
  .aksel-checkbox__input:where(:checked, :indeterminate):not(:disabled):hover {
  background-color: #ecedef;
  border-color: #ecedef;
}

.behandler-personopplysninger--locked.aksel-checkbox--readonly
  .aksel-checkbox__input:checked
  + .aksel-checkbox__icon {
  color: #49515e;
}

.behandler-personopplysninger--locked.aksel-checkbox--readonly
  .aksel-checkbox__input:indeterminate::after {
  background-color: #49515e;
}
