@import '@navikt/ds-css';
@import 'tailwindcss';
@import 'json-diff-kit/dist/viewer.less';

.navds-link-panel__content {
  width: 100%;
}

.navds-accordion__header-content {
  width: 100%;
}

p {
  max-width: 75ch;
}

iframe#webpack-dev-server-client-overlay{display:none!important}
