@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);
@import 'react-json-view-lite/dist/index.css';
@import 'json-diff-kit/dist/viewer.css';

.navds-link-panel__content {
  width: 100%;
}

.navds-accordion__header-content {
  width: 100%;
}

p {
  max-width: 75ch;
}

iframe#webpack-dev-server-client-overlay{display:none!important}
