#skip a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  background: white;
  /* -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100; */
}

#skip a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  /* -webkit-transition: top .1s ease-in;
    transition: top .1s ease-in; */
}

/* @media (prefers-reduced-motion: reduce) {
	#skiptocontent a {
		transition-duration: 0.001ms !important;
	}
} */
