.skip a {
  padding: 0.375rem;
  position: absolute;
  top: -2.5rem;
  left: 0rem;
  background: white;
  /* -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100; */
}

.skip a:focus {
  position: absolute;
  left: 0rem;
  top: 0rem;
  /* -webkit-transition: top .1s ease-in;
    transition: top .1s ease-in; */
}

/* @media (prefers-reduced-motion: reduce) {
	#skiptocontent a {
		transition-duration: 0.001ms !important;
	}
} */
